#footer
    margin-top: 30px
    padding: 10px;
    text-align: center;
    background-color: #000;
    color: #fff;


.bootstrap-tagsinput
    width: 100%;
    line-height: 28px;

    .label
        font-size: 90%;

    .label-info
        background-color: cornflowerblue;

    .label-primary
        background-color: navy;

.typeahead
    background-color: #fff;

.tt-hint
    color: #999

.tt-dropdown-menu
    width: 600px;
    margin-top: 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px
    box-shadow: 0 5px 10px rgba(0,0,0,.2)

.tt-suggestion
    padding: 8px 20px;
    font-size: 14px;
    line-height: 18px;

    & + .tt-suggestion
        font-size: 14px;
        border-top: 1px solid #ccc;

.tt-suggestions

    .repo-language
        float: right;
        font-style: italic;

    .repo-name
        font-size: 20px;
        font-weight: bold;

    .repo-description
        margin: 0;



.twitter-typeahead
    .tt-suggestion.tt-cursor
        color: #03739c;
        background-color: yellow;

    .tt-hint
        display: block;

    .hint-small
        height: 30px;
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 3px;
        line-height: 1.5;

    .hint-large
        height: 45px;
        padding: 10px 16px;
        font-size: 18px;
        border-radius: 6px;
        line-height: 1.33;
