@import 'nib'

.lr-embed

    font-family: 'Open Sans', helvetica, sans-serif

    .clearfix
        clearfix()

    global-reset()

    label
        display: inline

    /**
     * Kayako search
     */

    h1,h2,h3,h4,h5,h6
        font-weight: bold
        margin-top: .75em
        margin-bottom: .25em

    h1
        font-size: 175%
    h2
        font-size: 160%
    h3
        font-size: 145%
    h4
        font-size: 130%
    h5
        font-size: 115%
    h6
        font-size: 100%

    div
        //display: block;
        //position: relative;

    #esbb-simple-app
        position: relative;

    .embed-header
        border-bottom: 1px solid #ccc;
        padding: 20px 30px;

    .embed-left-col
    .embed-center-col
    .embed-right-col
        box-sizing: border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        -ms-box-sizing:border-box;

    .embed-left-col
        width: 30%;
        display: block;
        float: left;
        border-right: 1px solid #ccc;

    .embed-center-col
        width: 70%;
        float: left;

    .no-facets

        .embed-center-col
            width: 100%

    .embed-col .col-wrapper
        padding: 20px 30px


    a.esbb-search-button
        border: 1px solid #CCC;
        border-radius: 12px;
        background: #ffffff; /* Old browsers */
        background: linear-gradient(top,  #ffffff 0%,#ededed 100%); /* W3C */
        text-shadow: 0 1px 0 white;
        color: #333;
        font: 12px sans-serif !important;
        font-weight: bold !important;
        text-decoration: none !important;
        border-radius: 11px !important;
        margin: 0 !important;
        outline: none;
        display: inline-block;
        padding: 3px 10px;
        cursor: pointer;


    .embed-search-filters
        float: right

    .esbb-search-query
        width: 500px;
        margin-right: 5px;

    .esbb-search-url
        background: #ddd;
        margin-left: 45px;
        width: 475px;
        padding: 5px 5px 5px 5px;

    .embed-search-facets .select2-container
        vertical-align: middle;


    .esbb-result
        word-wrap: break-word;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid gray;

        .esbb-result-title a
            font-weight: bold;
            display: block;

        .esbb-result-title em
            font-color: red;

        .esbb-result-img
            float: left;
            margin-right: 10px;
            border: 1px solid #999;

        .esbb-info
            float: right;

        .esbb-result-url
            font-size: 80%;
            padding: 3px 5px
            border-radius: 5px
            background-color: #efefef

        p em
            font-weight: bold;

    .embed-left-col li
        font-size: 90%;
        list-style: none;

    .embed-left-col ul
      padding-left: 0px;


    div.esbb-timeline
        width: 600px;
        height: 400px;

        div
            position: static;

    div.esbb-pie

        .canvas-wrapper
            width: 159px;
            height: 159px;
            margin-bottom: 30px;

        .esbb-pie-hover
            /*position: static;*/
            height: 2.5em;

    table.esbb-facet-selector-table
        width: 100%;

        td
            padding: 2px;
            margin: 0px;
            border-top: 1px solid #ddd

            &:first-child
                width: 70%
                word-break: break-word

            &.esbb-count
                font-size: 90%;

        tr:nth-child(2n)
            background-color: #eee

        tr
            border-top: 1px solid #ccc

    .embed-publishers-selector
        table td
            font-size: 85%

    .active-facets
        margin: 5px 0

        .facet-name
            font-weight: bold

        .facet-item
            background-color: #ccc
            color: black
            padding: 3px 5px
            border-radius: 5px
            margin-left: 5px
            font-size: 12px

            a
                margin-left: 3px
                display: inline-block
                width: 12px
                text-align: center
                font-weight: bold
                color: red
                background-color: white
                border-radius: 10px
                font-size: 80%

